<%= form_for [:gv, de_thi] do |f| %>
  <div class="form-group">
    <%= f.label :tieu_de, t(".title") %>
    <%= f.text_field :tieu_de, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :thoi_gian, "#{t('.time')} (#{t('.minute')})" %>
    <%= f.number_field :thoi_gian, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :so_cau_hoi, t(".question_count") %>
    <%= f.number_field :so_cau_hoi, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :thoi_gian_mo_de, t(".open_time") %>
    <%= f.datetime_local_field :thoi_gian_mo_de, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :thoi_gian_dong_de, t(".close_time") %>
    <%= f.datetime_local_field :thoi_gian_dong_de, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :xem_ket_qua, t(".review") %>
    <%= f.check_box :xem_ket_qua %>
  </div>

  <%= f.hidden_field :mon_hoc_id, value: mon_hoc.id %>
  <%= f.submit t(".submit"), class: "btn btn-primary" %>
<% end %>
