<div class="modal fade" id="randomQuestionModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".header" %></h4>
      </div>
      <div class="modal-body" style="overflow-y: auto">
        <%= form_tag gv_ngau_nhien_de_this_path do %>
          <div class="form-group">
            <%= label_tag :do_kho_nho, t(".nho") %>
            <%= number_field_tag :do_kho_nho, 0,
              class: "form-control do_kho", required: true %>
          </div>
          <div class="form-group">
            <%= label_tag :do_kho_hieu, t(".hieu") %>
            <%= number_field_tag :do_kho_hieu, 0,
              required: true, class: "form-control do_kho" %>
          </div>
          <div class="form-group">
            <%= label_tag :do_kho_phan_tich, t(".phan_tich") %>
            <%= number_field_tag :do_kho_phan_tich, 0,
              required: true, class: "form-control do_kho" %>
          </div>
          <div class="form-group">
            <%= label_tag :do_kho_van_dung, t(".van_dung") %>
            <%= number_field_tag :do_kho_van_dung, 0,
              required: true, class: "form-control do_kho" %>
          </div>
          <div class="form-group">
            <%= label_tag :do_kho_tong_hop, t(".tong_hop") %>
            <%= number_field_tag :do_kho_tong_hop, 0,
              required: true, class: "form-control do_kho" %>
          </div>
          <div class="form-group">
            <%= label_tag :question_exist do %>
              <%= t(".question_exist") %>:
              <span><%= de_thi.cau_hois.count %></span>
            <% end %>
          </div>
          <div class="form-group">
            <%= label_tag :question_will_have do %>
              <%= t(".question_will_have") %>:
              <span id="current-question"><%= de_thi.cau_hois.count %></span>
              <span>/</span>
              <span id="exam-question-count"><%= de_thi.so_cau_hoi %></span>
            <% end %>
          </div>
          <%= hidden_field_tag :de_thi_id, de_thi.id %>
          <%= submit_tag t(".submit"), class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    </div>
  </div>
</div>
