<div class="col-md-10 col-md-offset-1">
  <h1><%= @de_thi.tieu_de %></h1>
  <h4 class="subject"><%= t ".subject" %>: <%= @de_thi.mon_hoc.ten %></h4>
  <p style="text-align: center;">
    <span class="label label-info">
      <span class="glyphicon glyphicon-time"></span>
      <span><%= t ".time_duration" %></span>
      <%= l @de_thi.thoi_gian_mo_de, format: :full_time if @de_thi.thoi_gian_mo_de %>
      <span> - </span>
      <%= l @de_thi.thoi_gian_dong_de, format: :full_time if @de_thi.thoi_gian_dong_de %>
    </span>
  </p>
  <p style="text-align: center;">
    <%= get_status @de_thi %>
    <span>&nbsp</span>
    <span class="label label-info">
      <%= t ".time" %>:
      <%= @de_thi.thoi_gian %>
      <%= t ".minute" %>
    </span>
    <span>&nbsp</span>
    <span class="label label-info">
      <%= t ".question_count" %>:
      <%= @de_thi.cau_hois.count %>
      <span>/</span>
      <%= @de_thi.so_cau_hoi %>
    </span>
  </p>
  <div style="margin-bottom: 20px;">
    <%= link_to t(".edit_exam"), edit_gv_de_thi_path(@de_thi),
      class: "btn btn-primary" %>
    <%= link_to t(".choose_question"),
      gv_de_thi_cau_hois_path(de_thi_id: @de_thi.id),
      class: "btn btn-default" %>
    <%= link_to t(".delete"), gv_de_thi_path(@de_thi), method: :delete,
      data: {confirm: t(".sure")}, class: "btn btn-danger" %>
  </div>
  <%= render partial: "cau_hoi", collection: @de_thi.cau_hois,
    locals: {de_thi: @de_thi} %>
</div>
