<div class="col-md-4 frame">
  <%= link_to "#", data: {toggle: "modal", target: "#lopMonHocModal"} do %>
    <%= image_tag "lop_mon_hoc.png", size: "250x250" %>
  <% end %>
  <h4><%= lop_mon_hoc.mon_hoc.ten %> - <%= lop_mon_hoc.ma_lop_mon_hoc %></h4>
  <%= link_to t(".list"), gv_lop_mon_hoc_path(lop_mon_hoc) %>
</div>
<%= render "edit_lop_mon_hoc", lop_mon_hoc: lop_mon_hoc %>
