<h1><%= @bai_thi.de_thi.tieu_de %></h1>
<h4 class="subject"><%= t ".subject" %>: <%= @bai_thi.de_thi.mon_hoc.ten %></h4>
<div class="bai-thi-chi-tiet">
  <%= render "cau_hois", cau_hois: @bai_thi.bai_thi_chi_tiet_cau_hois %>
</div>
<div class="do-examination">
  <p><%= t ".time" %></p>
  <h3>
    <span class="time-examination">
      <span id="time-exam-minute"><%= check_time_out(@bai_thi) / 60 %></span>
      <span>:</span>
      <span id="time-exam-second"><%= check_time_out(@bai_thi) % 60 %></span>
    </span>
  </h3>
  <button class="btn btn-success btn-submit-examination" data-id="<%= @bai_thi.id %>">
    <%= t ".send" %>
  </button>
</div>
<%= render "ket_qua" %>

<%= javascript_include_tag "sv/bai_thi" %>
